<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Besant Restrarent - Food Item</title>
    <!-- Logo favicon -->
    <!-- Call CSS -->
    <link rel="stylesheet" href="./css/style.css">
</head>

<body onload="changeValue()">
    <!-- Header -->
    <h1>Besant Restrarent</h1>

    <!-- Left Panel -->
    <table>
        <tr>
            <td>
                <table>
                    <tr>
                        <td>
                            <a href="./index.html">Food Items</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="./placeorder.html">Place Order</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a href="./billing.html">Billing</a>
                        </td>
                    </tr>
                </table>
            </td>
            <td>
                <!-- Body Panel -->
                <table>
                    <tr>
                        <td>
                            <!-- You need to work -->
                            <select name="items" id="items" onchange="changeValue()">
                                <option value="Biriyani">Biriyani</option>
                                <option value="IdlySambar">Idly/Sambar</option>
                                <option value="Dosa">Dosa</option>
                                <option value="Chapathi">Chapathi</option>
                                <option value="Maggi">Maggi</option>
                            </select>

                            <div id="result"></div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>


    <script type="text/javascript" src="./js/script.js"></script>
</body>

</html>