/*External style sheet created by Geetha on 01-July-23*/
h1 {
    color: blue;
    text-align: center;
    font-family: cursive;

}

h2 {
    color: brown;
    font-weight: bold;
}

img {
    height: 100px;
    width: 200px;

}

button {
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: large;

}