/* external style/css */

img {
    height: 50px;
    width: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
    color: black;
    inset-block: auto;
}

h1 {
    color: blue;
    text-align: center;
    color: brown;
}

h2 {
    color: green;
    font-family: cursive;
}



td {
    border: 1px solid black;
    padding: 0px;
    margin: 0px;
    border-radius: 20px;
    font-size: larger;
    color: red;
}

thead {
    color: blue;
}

table {
    border: 1px solid black;
}